* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.4) 0%, rgba(247, 94, 5, 0.4) 100%);
}

.container {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
